<!DOCTYPE html>
<html>
<head>
<title>AI Smart Traffic System</title>

<style>
body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: cyan;
}

.box {
    border: 2px solid cyan;
    padding: 10px;
    margin: 10px;
}

</style>
</head>

<body>

<h1>🚦 AI SMART TRAFFIC CONTROL SYSTEM</h1>

<div class="box">
    <img src="{{ url_for('video') }}" width="900">
</div>

<h2>Live Adaptive Signal Control</h2>

<p>✔ Real-Time AI Detection</p>
<p>✔ Dynamic Signal Optimization</p>
<p>✔ Emergency Vehicle Priority</p>

<h2>Reinforcement Learning Module</h2>

<img src="/static/rl_graph.png" width="400">

</body>
</html>